body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:773px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u547_img {
  position:absolute;
  left:0px;
  top:0px;
  width:773px;
  height:1660px;
}
#u547 {
  position:absolute;
  left:0px;
  top:0px;
  width:773px;
  height:1660px;
}
#u548 {
  position:absolute;
  left:2px;
  top:822px;
  width:769px;
  visibility:hidden;
  word-wrap:break-word;
}
#u549_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:1136px;
}
#u549 {
  position:absolute;
  left:66px;
  top:230px;
  width:640px;
  height:1136px;
}
#u550 {
  position:absolute;
  left:2px;
  top:560px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u551 {
  position:absolute;
  left:79px;
  top:279px;
  width:50px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u552 {
  position:absolute;
  left:190px;
  top:604px;
  width:468px;
  height:25px;
}
#u552_input {
  position:absolute;
  left:0px;
  top:0px;
  width:468px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u553_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正兰亭黑简体 Bold', '方正兰亭黑简体 Regular', '方正兰亭黑简体';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
  text-align:center;
}
#u553 {
  position:absolute;
  left:588px;
  top:608px;
  width:42px;
  height:22px;
  font-family:'方正兰亭黑简体 Bold', '方正兰亭黑简体 Regular', '方正兰亭黑简体';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
  text-align:center;
}
#u554 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u555 {
  position:absolute;
  left:573px;
  top:676px;
}
#u555_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u555_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u556_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:36px;
}
#u556 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:36px;
}
#u557 {
  position:absolute;
  left:2px;
  top:10px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u555_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u555_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u558_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:36px;
}
#u558 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:36px;
}
#u559 {
  position:absolute;
  left:2px;
  top:10px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u560 {
  position:absolute;
  left:614px;
  top:676px;
}
#u560_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u560_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u561_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:36px;
}
#u561 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:36px;
}
#u562 {
  position:absolute;
  left:2px;
  top:10px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u560_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u560_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u563_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:36px;
}
#u563 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:36px;
}
#u564 {
  position:absolute;
  left:2px;
  top:10px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u565 {
  position:absolute;
  left:530px;
  top:669px;
  width:84px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u566 {
  position:absolute;
  left:614px;
  top:669px;
  width:84px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u567 {
  position:absolute;
  left:190px;
  top:755px;
  width:468px;
  height:25px;
}
#u567_input {
  position:absolute;
  left:0px;
  top:0px;
  width:468px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u568_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正兰亭黑简体 Bold', '方正兰亭黑简体 Regular', '方正兰亭黑简体';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
  text-align:center;
}
#u568 {
  position:absolute;
  left:599px;
  top:759px;
  width:21px;
  height:22px;
  font-family:'方正兰亭黑简体 Bold', '方正兰亭黑简体 Regular', '方正兰亭黑简体';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
  text-align:center;
}
#u569 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u570 {
  position:absolute;
  left:190px;
  top:835px;
  width:468px;
  height:25px;
}
#u570_input {
  position:absolute;
  left:0px;
  top:0px;
  width:468px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u571_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正兰亭黑简体 Bold', '方正兰亭黑简体 Regular', '方正兰亭黑简体';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
  text-align:center;
}
#u571 {
  position:absolute;
  left:590px;
  top:838px;
  width:37px;
  height:22px;
  font-family:'方正兰亭黑简体 Bold', '方正兰亭黑简体 Regular', '方正兰亭黑简体';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
  text-align:center;
}
#u572 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u573_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正兰亭黑简体 Bold', '方正兰亭黑简体 Regular', '方正兰亭黑简体';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
  text-align:center;
}
#u573 {
  position:absolute;
  left:496px;
  top:907px;
  width:151px;
  height:22px;
  font-family:'方正兰亭黑简体 Bold', '方正兰亭黑简体 Regular', '方正兰亭黑简体';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
  text-align:center;
}
#u574 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  white-space:nowrap;
}
#u575_div {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:86px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u575 {
  position:absolute;
  left:66px;
  top:883px;
  width:640px;
  height:86px;
}
#u576 {
  position:absolute;
  left:2px;
  top:35px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
