body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:773px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u577_img {
  position:absolute;
  left:0px;
  top:0px;
  width:773px;
  height:1660px;
}
#u577 {
  position:absolute;
  left:0px;
  top:0px;
  width:773px;
  height:1660px;
}
#u578 {
  position:absolute;
  left:2px;
  top:822px;
  width:769px;
  visibility:hidden;
  word-wrap:break-word;
}
#u579_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:1136px;
}
#u579 {
  position:absolute;
  left:66px;
  top:230px;
  width:640px;
  height:1136px;
}
#u580 {
  position:absolute;
  left:2px;
  top:560px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u581 {
  position:absolute;
  left:79px;
  top:280px;
  width:50px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u582 {
  position:absolute;
  left:230px;
  top:398px;
  width:430px;
  height:40px;
}
#u582_input {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:40px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u583 {
  position:absolute;
  left:230px;
  top:485px;
  width:430px;
  height:40px;
}
#u583_input {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:40px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u584 {
  position:absolute;
  left:230px;
  top:567px;
  width:430px;
  height:40px;
}
#u584_input {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:40px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
