body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:773px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:773px;
  height:1660px;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:773px;
  height:1660px;
}
#u1 {
  position:absolute;
  left:2px;
  top:822px;
  width:769px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:641px;
  height:1137px;
}
#u2 {
  position:absolute;
  left:66px;
  top:238px;
  width:640px;
  height:1136px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u3 {
  position:absolute;
  left:2px;
  top:556px;
  width:636px;
  word-wrap:break-word;
}
