body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:773px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:773px;
  height:1660px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:773px;
  height:1660px;
}
#u70 {
  position:absolute;
  left:2px;
  top:822px;
  width:769px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:641px;
  height:1137px;
}
#u71 {
  position:absolute;
  left:64px;
  top:238px;
  width:640px;
  height:1136px;
}
#u72 {
  position:absolute;
  left:2px;
  top:560px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:64px;
  top:312px;
  width:640px;
  height:949px;
  overflow:hidden;
}
#u73_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:949px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u73_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:641px;
  height:1249px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:1248px;
}
#u75 {
  position:absolute;
  left:2px;
  top:616px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76_div {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:256px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u76 {
  position:absolute;
  left:0px;
  top:800px;
  width:640px;
  height:256px;
}
#u77 {
  position:absolute;
  left:2px;
  top:120px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:1px;
  top:0px;
}
#u78_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u78_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:639px;
  height:257px;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:638px;
  height:256px;
}
#u80 {
  position:absolute;
  left:2px;
  top:120px;
  width:634px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u81 {
  position:absolute;
  left:279px;
  top:104px;
  width:65px;
  height:37px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u78_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u78_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u83_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u83 {
  position:absolute;
  left:237px;
  top:108px;
  width:83px;
  height:37px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u78_state2 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u78_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:639px;
  height:256px;
}
#u85 {
  position:absolute;
  left:0px;
  top:0px;
  width:638px;
  height:255px;
}
#u86 {
  position:absolute;
  left:2px;
  top:120px;
  width:634px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u87 {
  position:absolute;
  left:261px;
  top:109px;
  width:97px;
  height:37px;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u78_state3 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u78_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:638px;
  height:258px;
}
#u89 {
  position:absolute;
  left:0px;
  top:0px;
  width:637px;
  height:257px;
}
#u90 {
  position:absolute;
  left:2px;
  top:120px;
  width:633px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u91 {
  position:absolute;
  left:278px;
  top:99px;
  width:97px;
  height:37px;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u93_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:76px;
  height:76px;
}
#u93 {
  position:absolute;
  left:42px;
  top:306px;
  width:66px;
  height:66px;
}
#u94 {
  position:absolute;
  left:2px;
  top:25px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:76px;
  height:76px;
}
#u95 {
  position:absolute;
  left:287px;
  top:306px;
  width:66px;
  height:66px;
}
#u96 {
  position:absolute;
  left:2px;
  top:25px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:76px;
  height:76px;
}
#u97 {
  position:absolute;
  left:163px;
  top:306px;
  width:66px;
  height:66px;
  text-align:left;
}
#u98 {
  position:absolute;
  left:2px;
  top:25px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:76px;
  height:76px;
}
#u99 {
  position:absolute;
  left:412px;
  top:306px;
  width:66px;
  height:66px;
}
#u100 {
  position:absolute;
  left:2px;
  top:25px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u101_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:76px;
  height:76px;
}
#u101 {
  position:absolute;
  left:518px;
  top:306px;
  width:66px;
  height:66px;
}
#u102 {
  position:absolute;
  left:2px;
  top:25px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u103_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:76px;
  height:76px;
}
#u103 {
  position:absolute;
  left:49px;
  top:415px;
  width:66px;
  height:66px;
}
#u104 {
  position:absolute;
  left:2px;
  top:25px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u105_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:76px;
  height:76px;
}
#u105 {
  position:absolute;
  left:292px;
  top:415px;
  width:66px;
  height:66px;
}
#u106 {
  position:absolute;
  left:2px;
  top:25px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:76px;
  height:76px;
}
#u107 {
  position:absolute;
  left:163px;
  top:415px;
  width:66px;
  height:66px;
  text-align:left;
}
#u108 {
  position:absolute;
  left:2px;
  top:25px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u109_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:76px;
  height:76px;
}
#u109 {
  position:absolute;
  left:419px;
  top:415px;
  width:66px;
  height:66px;
}
#u110 {
  position:absolute;
  left:2px;
  top:25px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u111_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:76px;
  height:76px;
}
#u111 {
  position:absolute;
  left:525px;
  top:415px;
  width:66px;
  height:66px;
}
#u112 {
  position:absolute;
  left:2px;
  top:25px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u113_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u113 {
  position:absolute;
  left:51px;
  top:389px;
  width:57px;
  height:16px;
}
#u114 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u115_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u115 {
  position:absolute;
  left:168px;
  top:389px;
  width:57px;
  height:16px;
}
#u116 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u117_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u117 {
  position:absolute;
  left:292px;
  top:389px;
  width:57px;
  height:16px;
}
#u118 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u119_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u119 {
  position:absolute;
  left:421px;
  top:389px;
  width:57px;
  height:16px;
}
#u120 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u121_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u121 {
  position:absolute;
  left:534px;
  top:389px;
  width:57px;
  height:16px;
}
#u122 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u123_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u123 {
  position:absolute;
  left:58px;
  top:491px;
  width:57px;
  height:16px;
}
#u124 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u125_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u125 {
  position:absolute;
  left:172px;
  top:491px;
  width:57px;
  height:16px;
}
#u126 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u127_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u127 {
  position:absolute;
  left:301px;
  top:491px;
  width:57px;
  height:16px;
}
#u128 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u129_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u129 {
  position:absolute;
  left:428px;
  top:491px;
  width:57px;
  height:16px;
}
#u130 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u131_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u131 {
  position:absolute;
  left:534px;
  top:491px;
  width:57px;
  height:16px;
}
#u132 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u133_div {
  position:absolute;
  left:0px;
  top:0px;
  width:639px;
  height:259px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u133 {
  position:absolute;
  left:0px;
  top:523px;
  width:639px;
  height:259px;
}
#u134 {
  position:absolute;
  left:2px;
  top:122px;
  width:635px;
  visibility:hidden;
  word-wrap:break-word;
}
#u135_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u135 {
  position:absolute;
  left:21px;
  top:543px;
  width:81px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u136 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u137_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:76px;
  height:76px;
}
#u137 {
  position:absolute;
  left:36px;
  top:577px;
  width:66px;
  height:66px;
}
#u138 {
  position:absolute;
  left:2px;
  top:25px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u139_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:76px;
  height:76px;
}
#u139 {
  position:absolute;
  left:36px;
  top:679px;
  width:66px;
  height:66px;
}
#u140 {
  position:absolute;
  left:2px;
  top:25px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u141_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:76px;
  height:76px;
}
#u141 {
  position:absolute;
  left:152px;
  top:679px;
  width:66px;
  height:66px;
}
#u142 {
  position:absolute;
  left:2px;
  top:25px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u143_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:76px;
  height:76px;
}
#u143 {
  position:absolute;
  left:287px;
  top:679px;
  width:66px;
  height:66px;
}
#u144 {
  position:absolute;
  left:2px;
  top:25px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u145_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:76px;
  height:76px;
}
#u145 {
  position:absolute;
  left:417px;
  top:679px;
  width:66px;
  height:66px;
}
#u146 {
  position:absolute;
  left:2px;
  top:25px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u147_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:76px;
  height:76px;
}
#u147 {
  position:absolute;
  left:547px;
  top:679px;
  width:66px;
  height:66px;
}
#u148 {
  position:absolute;
  left:2px;
  top:25px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u149_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:76px;
  height:76px;
}
#u149 {
  position:absolute;
  left:152px;
  top:577px;
  width:66px;
  height:66px;
}
#u150 {
  position:absolute;
  left:2px;
  top:25px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u151_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:76px;
  height:76px;
}
#u151 {
  position:absolute;
  left:287px;
  top:577px;
  width:66px;
  height:66px;
}
#u152 {
  position:absolute;
  left:2px;
  top:25px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u153_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:76px;
  height:76px;
}
#u153 {
  position:absolute;
  left:417px;
  top:577px;
  width:66px;
  height:66px;
}
#u154 {
  position:absolute;
  left:2px;
  top:25px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u155_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:76px;
  height:76px;
}
#u155 {
  position:absolute;
  left:547px;
  top:577px;
  width:66px;
  height:66px;
}
#u156 {
  position:absolute;
  left:2px;
  top:25px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u157_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u157 {
  position:absolute;
  left:568px;
  top:551px;
  width:45px;
  height:16px;
}
#u158 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u159_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u159 {
  position:absolute;
  left:51px;
  top:653px;
  width:43px;
  height:16px;
}
#u160 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u161_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u161 {
  position:absolute;
  left:164px;
  top:653px;
  width:29px;
  height:16px;
}
#u162 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u163_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u163 {
  position:absolute;
  left:299px;
  top:653px;
  width:43px;
  height:16px;
}
#u164 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u165_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u165 {
  position:absolute;
  left:442px;
  top:653px;
  width:29px;
  height:16px;
}
#u166 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u167_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u167 {
  position:absolute;
  left:562px;
  top:653px;
  width:29px;
  height:16px;
}
#u168 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u169_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u169 {
  position:absolute;
  left:58px;
  top:755px;
  width:43px;
  height:16px;
}
#u170 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u171_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u171 {
  position:absolute;
  left:171px;
  top:755px;
  width:29px;
  height:16px;
}
#u172 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u173_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u173 {
  position:absolute;
  left:306px;
  top:755px;
  width:43px;
  height:16px;
}
#u174 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u175_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u175 {
  position:absolute;
  left:449px;
  top:755px;
  width:29px;
  height:16px;
}
#u176 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u177_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u177 {
  position:absolute;
  left:569px;
  top:755px;
  width:29px;
  height:16px;
}
#u178 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u179_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u179 {
  position:absolute;
  left:21px;
  top:814px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u180 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u181_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u181 {
  position:absolute;
  left:327px;
  top:814px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u182 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u183_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u183 {
  position:absolute;
  left:272px;
  top:817px;
  width:45px;
  height:16px;
}
#u184 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u185_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u185 {
  position:absolute;
  left:580px;
  top:817px;
  width:45px;
  height:16px;
}
#u186 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u187_div {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:92px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u187 {
  position:absolute;
  left:327px;
  top:854px;
  width:286px;
  height:92px;
}
#u188 {
  position:absolute;
  left:2px;
  top:38px;
  width:282px;
  visibility:hidden;
  word-wrap:break-word;
}
#u189_div {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:92px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u189 {
  position:absolute;
  left:21px;
  top:854px;
  width:286px;
  height:92px;
}
#u190 {
  position:absolute;
  left:2px;
  top:38px;
  width:282px;
  visibility:hidden;
  word-wrap:break-word;
}
#u191_div {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:92px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u191 {
  position:absolute;
  left:327px;
  top:956px;
  width:286px;
  height:92px;
}
#u192 {
  position:absolute;
  left:2px;
  top:38px;
  width:282px;
  visibility:hidden;
  word-wrap:break-word;
}
#u193_div {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:92px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u193 {
  position:absolute;
  left:21px;
  top:956px;
  width:286px;
  height:92px;
}
#u194 {
  position:absolute;
  left:2px;
  top:38px;
  width:282px;
  visibility:hidden;
  word-wrap:break-word;
}
#u195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:641px;
  height:171px;
}
#u195 {
  position:absolute;
  left:0px;
  top:1078px;
  width:640px;
  height:170px;
}
#u196 {
  position:absolute;
  left:2px;
  top:77px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u197_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u197 {
  position:absolute;
  left:652px;
  top:270px;
  width:37px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u198 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u199_div {
  position:absolute;
  left:0px;
  top:0px;
  width:525px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u199 {
  position:absolute;
  left:117px;
  top:261px;
  width:525px;
  height:41px;
}
#u200 {
  position:absolute;
  left:2px;
  top:12px;
  width:521px;
  visibility:hidden;
  word-wrap:break-word;
}
#u201 {
  position:absolute;
  left:577px;
  top:273px;
  width:100px;
  height:16px;
}
#u202 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u201_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u203_div {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:97px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u203 {
  position:absolute;
  left:64px;
  top:1277px;
  width:640px;
  height:97px;
}
#u204 {
  position:absolute;
  left:2px;
  top:40px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u205_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:67px;
  height:67px;
}
#u205 {
  position:absolute;
  left:98px;
  top:1297px;
  width:57px;
  height:57px;
}
#u206 {
  position:absolute;
  left:2px;
  top:20px;
  width:53px;
  word-wrap:break-word;
}
#u207_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:67px;
  height:67px;
}
#u207 {
  position:absolute;
  left:233px;
  top:1297px;
  width:57px;
  height:57px;
}
#u208 {
  position:absolute;
  left:2px;
  top:20px;
  width:53px;
  word-wrap:break-word;
}
#u209_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:67px;
  height:67px;
}
#u209 {
  position:absolute;
  left:364px;
  top:1297px;
  width:57px;
  height:57px;
}
#u210 {
  position:absolute;
  left:2px;
  top:20px;
  width:53px;
  word-wrap:break-word;
}
#u211_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:67px;
  height:67px;
}
#u211 {
  position:absolute;
  left:492px;
  top:1297px;
  width:57px;
  height:57px;
}
#u212 {
  position:absolute;
  left:2px;
  top:20px;
  width:53px;
  word-wrap:break-word;
}
#u213_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:67px;
  height:67px;
}
#u213 {
  position:absolute;
  left:608px;
  top:1297px;
  width:57px;
  height:57px;
}
#u214 {
  position:absolute;
  left:2px;
  top:20px;
  width:53px;
  word-wrap:break-word;
}
